# Compiled Object files
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.a

# Executables
*.exe
*.out

# C++ specific
*.cpp~
*.hpp~
*.gch
*.gcno
*.gcda
*.pdb
*.idb

# Dependency files
*.d

